body{
margin:0;
font-family:'Lato',sans-serif;
background:#07282b;
color:white;
}

.container{
max-width:1000px;
margin:auto;
padding:20px;
}

.card{
background:white;
color:#333;
padding:20px;
margin-top:20px;
border-radius:10px;
}

input{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:10px;
}

button{
background:#c39b3b;
border:none;
padding:10px 15px;
border-radius:20px;
cursor:pointer;
}
